<style>
   .report1,
   .report2,
   .report3 {
      background: darkblue;
      color: white;
      padding: 20px;
      text-align: center;
      border-radius: 5px;
      height: 70px;

   }

   .report1:hover {
      background: rgb(233, 157, 16);
      border-bottom: 10px solid darkblue;
      cursor: pointer;

   }

   .report2:hover {
      background: rgb(233, 157, 16);
      border-bottom: 10px solid darkblue;
      cursor: pointer;

   }

   .report3:hover {
      background: rgb(233, 157, 16);
      border-bottom: 10px solid darkblue;
      cursor: pointer;

   }

   .list {
      text-decoration: none;
      list-style-type: none;
   }

   .list li {
      float: left;
      text-decoration: none;
      margin: 10px;
   }
</style>
<div class="registerStudentForm">
   <form action="/student/add" method="Post" enctype="multipart/form-data" id="studentform">
      <div id="studentForm">
         <div class="panel panel-primary">
            <div class="panel-heading" style="background: darkblue;">System Reports</div>
            <div class="panel-body">
               <div class="col-md-12">
                  <div class="row">
                     <a href="/student/feedbackreport">
                        <div class="col-md-4">
                           <div class="report1" id="report">
                              <i class="fa fa-address-book" style="font-size:24px"></i>
                              &nbsp Feed Back Reports
                           </div>
                        </div>
                     </a>
                     <a href="/student/familyvisitreport">
                        <div class="col-md-4">
                           <div class="report2" id="report">
                              <i class="fa fa-address-book" style="font-size:24px"></i>
                              &nbsp Family Visit Reports
                           </div>
                        </div>
                     </a>
                     <a href="medicalreport">
                        <div class="col-md-4" id="report">
                           <div class="report3">
                              <i class="fa fa-address-book" style="font-size:24px"></i>
                              &nbsp Medical Reports
                           </div>
                        </div>
                     </a>

                  </div>
               </div>
            </div>
         </div>
         <div class="panel  panel-primary">
            <div class="panel-body">
               <div style="height: 360px; overflow-y: scroll;">
                  <table class="table table-hover table-dark" style="font-size: 12px;">
                     <thead>
                        <tr>
                           <th scope="col">Sponsorship_No</th>
                           <th scope="col">Students Name</th>
                           <th scope="col">School From: </th>
                           <th scope="col">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{#each feedback}}
                        <tr>
                           <td>{{scholarship_no}}</td>
                           <td style="  text-transform: capitalize;">{{student_name}}</td>
                           <td style="  text-transform: capitalize;">{{school_name}}</td>
                           <td>
                              <form action="/student/{{id}}?_method=DELETE" method="post">
                                 <input type="hidden" name="_method" value="Delete">
                                 <button type="submit" class="btn btn-danger pull-left ">
                                    <i class="fa fa-trash"></i>
                                 </button>
                              </form>
                              <a class="btn btn-primary" style="margin-left:2px;" href="student/edit/{{id}}">
                                 <i class="fa fa-pencil-square-o " style="color:white; " aria-hidden="true"></i>
                              </a>
                              <a href="student/studentInfo/{{id}}" class="btn btn-success" style="margin-left:2px;">
                                 <i class="fa fa-info " style="color:white; " aria-hidden="true"></i>
                              </a>
                           </td>
                        </tr>
                        {{else}}
                        <p>No reports Registered This time</p>
                        {{/each}}
                     </tbody>
                  </table>
               </div>


            </div>
         </div>
      </div>
   </form>
</div>